@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;

  --primary: #ff90e8;
  --primary-foreground: #111111;

  --border: #e5e5e5;
  --muted: #f1f1f1;

  --surface: #ffffff;
  --surface-muted: #f5f5f5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
